/* header.css */

.header {
  height: 70px;
  background-color: #c5d8b3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cols {
  margin: 0px 15px 0px 15px;
}

.header__logo {
  font-size: 48px;
  text-decoration: none;
}

.nav-bar {
  display: none;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.responsive-button {
  display: inline-block;
  width: 24px;
}

.responsive-button span {
  display: block;
  height: 4px;
  background-color: #888;
}

.responsive-button span:not(:first-child) {
  margin-top: 4px;
}

@media screen and (min-width: 811px) {
  .nav-bar {
    display: inline-block;
  }

  .nav-bar a {
    margin-left: 30px;
  }

  .responsive-button {
    display: none;
  }

  .cols {
    margin: 0px 50px 0px 50px;
  }
}
