<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>

<body>
    <section class="card-list">
        <article class="card">
            <div class="card__img">
                <h2>PROGRAMACION WEB</h2>
            </div>
            <div class="card__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor volutpat phasellus purus rutrum. Ac
                    lectus sit lectus orci. Nulla sed id tristique sed tincidunt tortor lorem id. Velit fames erat
                    gravida sit auctor non massa aliquet rhoncus aliquam ornare.</p>
            </div>
            <div class="card__labels">
                <p>HTML, JAVASCRIPT, NODEJS</p>
            </div>
        </article>
        <article class="card">
            <div class="card__img">
                <img src="../public/images/Bg (1).png" alt="">
            </div>
            <div class="card__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor volutpat phasellus purus rutrum. Ac
                    lectus sit lectus orci. Nulla sed id tristique sed tincidunt tortor lorem id. Velit fames erat
                    gravida sit auctor non massa aliquet rhoncus aliquam ornare.</p>
            </div>
            <div class="card__labels">
                <p>HTML, JAVASCRIPT, NODEJS</p>
            </div>
        </article>
        <article class="card">
            <div class="card__img">
                <img src="../public/images/Bg (2).png" alt="">
            </div>
            <div class="card__content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor volutpat phasellus purus rutrum. Ac
                    lectus sit lectus orci. Nulla sed id tristique sed tincidunt tortor lorem id. Velit fames erat
                    gravida sit auctor non massa aliquet rhoncus aliquam ornare.</p>
            </div>
            <div class="card__labels">
                <p>HTML, JAVASCRIPT, NODEJS</p>
            </div>
        </article>
    </section>

</body>

</html>